/* Common */
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root {
    width: 100%;
}


textarea {
    color: #000;
}

.register-btn, .login-btn {
    color: #747bff;
}




.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.container {
    min-height: 100vh;
}

/* Not Found */
.not-found {
    display: flex;
    flex-direction: row;
    margin: 10%;

}

.not-found-text {
    width: 50%;
}

.unicorn {
    width: 50%;
    height: 40rem;
    background: url('../public/404.png');
    background-repeat: no-repeat;
}

/* Registration */


@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }



    button {
        background-color: #f9f9f9;
    }
}